__pycache__/
.egg-info/
*.egg-info

# acados
c_generated_code/
acados_ocp.json
_l4c_generated/
# pixi environments
.pixi
*.egg-info

.venv
.vscode
.idea

.DS_Store

# latex
*.aux
*.log
*.fls
*.out
*.bbl
*.blg
*.toc
*.fdb_latexmk
*.synctex
*.synctex.gz
*.tdo
*.snm
*.nav