__pycache__/
.egg-info/
*.egg-info

# acados
acados_generated_files/
c_generated_code/
acados_ocp.json
_l4c_generated/

# pixi environments
.pixi
*.egg-info

venv
data/
trained_models/
build/


# latex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.tdo
*.synctex.gz